@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #f4f7fe;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-color);
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-se {
  bottom: 20px !important;
  right: 20px !important;
}

.react-grid-placeholder {
  border-radius: 12px;
  background-color: transparent !important;
  border-width: 3px;
  border-color: #6366f1;
  border-style: dashed;
  z-index: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
